name: gvl_comments
description: Drop-in comments system for Flutter apps. Powered by GoodVibesLab Cloud.
version: 0.1.0
homepage: https://goodvibeslab.cloud

environment:
  sdk: ">=3.3.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  http: ^1.6.0
  package_info_plus: ^9.0.0
  url_launcher: ^6.3.2

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
  generate: true

  assets:
    - assets/gvl_cloud_logo.png